.header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
}
.titlefont{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: darkgray;
}
.fontforaboutme{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;}
.othertext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
